version: "3"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/mesa
    ports:
      - 8521:8521
    expose:
      - 8521
    environment:
      - PORT=8521
      - FINANCIAL_BEHAVIOR=false